

<div class="jumbotron">
  <h1>My Rails Blog</h1>
</div>
<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @productos.each do |producto| %>
      <tr>
        <td><%= producto.title %></td>
        <td><%= producto.body %></td>
        <td><%= producto.created_at.to_date %></td>
        <td><%= link_to 'Show', producto, class: 'btn btn-info' %></td>
        <td><%= link_to 'Edit', edit_producto_path(producto), class: 'btn btn-warning' %></td>
        <td><%= link_to 'Delete', producto, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'New Producto', new_producto_path, class: 'btn btn-primary' %>
