<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @producto.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @producto.body %>
</p>

<%= link_to 'Edit', edit_producto_path(@producto) %> |
<%= link_to 'Back', productos_path %>
