

        <div class="row">
          <div class="col-md-12">

            <div class="appear-animation pull-left"   width="200" height="140" data-appear-animation="fadeIn">
            <h4>fadeIn</h4>
            <%=  image_tag("img/device.png" ,width:"200", height:"140" )%>
</div>
                   <br>         <br>         <br>

            <div class="appear-animation pull-left"   width="200" height="140" data-appear-animation="fadeInUp">
            <h4>fadeInUp    </h4>    <%=  image_tag("img/device.png" ,width:"200", height:"140" )%></div>
                   <br>         <br>         <br>

            <div class="appear-animation pull-left"   width="200" height="140" data-appear-animation="fadeInDown">
            <h4>fadeInDown    </h4>    <%=  image_tag("img/device.png" ,width:"200", height:"140" )%></div>
                   <br>         <br>         <br>

            <div class="appear-animation pull-left"   width="200" height="140" data-appear-animation="fadeInLeft">
            <h4>fadeInLeft    </h4>    <%=  image_tag("img/device.png" ,width:"200", height:"140" )%></div>
                   <br>         <br>         <br>

            <div class="appear-animation pull-left"   width="200" height="140" data-appear-animation="fadeInRight">
            <h4>fadeInRight    </h4>    <%=  image_tag("img/device.png" ,width:"200", height:"140" )%></div>
                   <br>         <br>         <br>

            <div class="pull-left"   width="200" height="140" data-appear-animation="fadeInUpBig" alt="">
            <h4>fadeInUpBig    </h4>    <%=  image_tag("img/device.png" ,width:"200", height:"140" )%></div>
                   <br>         <br>         <br>

            <div class="pull-left"   width="200" height="140" data-appear-animation="fadeInDownBig" alt="">
            <h4>fadeInDownBig    </h4>    <%=  image_tag("img/device.png" ,width:"200", height:"140" )%></div>
                   <br>         <br>         <br>

            <div class="pull-left"   width="200" height="140" data-appear-animation="fadeInLeftBig" alt="">
            <h4>fadeInLeftBig    </h4>    <%=  image_tag("img/device.png" ,width:"200", height:"140" )%></div>
                   <br>         <br>         <br>
            <div class="pull-left"   width="200" height="140" data-appear-animation="fadeInRightBig" alt="">
            <h4>fadeInRightBig    </h4>    <%=  image_tag("img/device.png" ,width:"200", height:"140" )%></div>
                   <br>         <br>         <br>

            <div class="pull-left"   width="200" height="140" data-appear-animation="bounceIn" alt="">
            <h4>bounceIn    </h4>    <%=  image_tag("img/device.png" ,width:"200", height:"140" )%></div>
                   <br>         <br>         <br>

            <div class="pull-left"   width="200" height="140" data-appear-animation="bounceInUp" alt="">
            <h4>bounceInUp    </h4>    <%=  image_tag("img/device.png" ,width:"200", height:"140" )%></div>
                   <br>         <br>         <br>

            <div class="pull-left"   width="200" height="140" data-appear-animation="bounceInDown" alt="">
            <h4>bounceInDown    </h4>    <%=  image_tag("img/device.png" ,width:"200", height:"140" )%></div>
                   <br>         <br>         <br>

            <div class="pull-left"   width="200" height="140" data-appear-animation="bounceInLeft" alt="">
            <h4>bounceInLeft    </h4>    <%=  image_tag("img/device.png" ,width:"200", height:"140" )%></div>
                   <br>         <br>         <br>

            <div class="pull-left"   width="200" height="140" data-appear-animation="bounceInRight" alt="">
            <h4>bounceInRight    </h4>    <%=  image_tag("img/device.png" ,width:"200", height:"140" )%></div>
                   <br>         <br>         <br>

            <div class="pull-left"   width="200" height="140" data-appear-animation="rotateIn" alt="">
            <h4>rotateIn    </h4>    <%=  image_tag("img/device.png" ,width:"200", height:"140" )%></div>
                   <br>         <br>         <br>

            <div class="pull-left"   width="200" height="140" data-appear-animation="rotateInUpLeft" alt="">
            <h4>rotateInUpLeft    </h4>    <%=  image_tag("img/device.png" ,width:"200", height:"140" )%></div>
                   <br>         <br>         <br>

            <div class="pull-left"   width="200" height="140" data-appear-animation="rotateInDownLeft" alt="">
            <h4>rotateInDownLeft    </h4>    <%=  image_tag("img/device.png" ,width:"200", height:"140" )%></div>
                   <br>         <br>         <br>

            <div class="pull-left"   width="200" height="140" data-appear-animation="rotateInUpRight" alt="">
            <h4>rotateInUpRight    </h4>    <%=  image_tag("img/device.png" ,width:"200", height:"140" )%></div>
                   <br>         <br>         <br>

            <div class="pull-left"   width="200" height="140" data-appear-animation="rotateInDownRight" alt="">
            <h4>rotateInDownRight    </h4>    <%=  image_tag("img/device.png" ,width:"200", height:"140" )%></div>
                   <br>         <br>         <br>

            <div class="pull-left"   width="200" height="140" data-appear-animation="flash" alt="">
            <h4>flash    </h4>    <%=  image_tag("img/device.png" ,width:"200", height:"140" )%></div>
                   <br>         <br>         <br>

            <div class="pull-left"   width="200" height="140" data-appear-animation="shake" alt="">
            <h4>shake    </h4>    <%=  image_tag("img/device.png" ,width:"200", height:"140" )%></div>
                   <br>         <br>         <br>

            <div class="pull-left"   width="200" height="140" data-appear-animation="bounce" alt="">
            <h4>bounce    </h4>    <%=  image_tag("img/device.png" ,width:"200", height:"140" )%></div>
                   <br>         <br>         <br>

            <div class="pull-left"   width="200" height="140" data-appear-animation="tada" alt="">
            <h4>tada    </h4>    <%=  image_tag("img/device.png" ,width:"200", height:"140" )%></div>
                   <br>         <br>         <br>

            <div class="pull-left"   width="200" height="140" data-appear-animation="swing" alt="">
            <h4>swing    </h4>    <%=  image_tag("img/device.png" ,width:"200", height:"140" )%></div>
                   <br>         <br>         <br>

            <div class="pull-left"   width="200" height="140" data-appear-animation="wobble" alt="">
            <h4>wobble    </h4>    <%=  image_tag("img/device.png" ,width:"200", height:"140" )%></div>
                   <br>         <br>         <br>

            <div class="pull-left"   width="200" height="140" data-appear-animation="wiggle" alt="">
            <h4>wiggle    </h4>    <%=  image_tag("img/device.png" ,width:"200", height:"140" )%></div>

          </div>
        </div>

      </div>

    </div>


