     <div class="row center">
          <div class="owl-carousel" data-plugin-options='{"items": 6, "autoplay": true, "autoplayTimeout": 3000}'>
            <div>

               <%=  image_tag("img/logos/logo-1.png" , class: "img-responsive" )%>
            </div>
            <div>
     <%=  image_tag("img/logos/logo-2.png" , class: "img-responsive" )%>
            </div>
            <div>
    <%=  image_tag("img/logos/logo-3.png" , class: "img-responsive" )%>
            </div>
            <div>
<%=  image_tag("img/logos/logo-4.png" , class: "img-responsive" )%>
            </div>
            <div>
<%=  image_tag("img/logos/logo-5.png" , class: "img-responsive" )%>
            </div>
            <div>
         <%=  image_tag("img/logos/logo-6.png" , class: "img-responsive" )%>
            </div>
            <div>
  <%=  image_tag("img/logos/logo-4.png" , class: "img-responsive" )%>
            </div>
            <div>
<%=  image_tag("img/logos/logo-2.png" , class: "img-responsive" )%>
            </div>
          </div>
        </div>

      </div>