<!DOCTYPE html>
<html>

<head>
<%= render 'layouts/head' %>

<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>
  </head>






  <body>
  <div class="body">
<%= render 'layouts/header' %>

      <%= yield %>



    </div>

<footer id="footer" class="light narrow">
        <div class="container">
          <div class="row">
            <div class="col-md-9">
              <ul class="nav nav-pills">
                <li class="active"><a href="index.html">Home</a></li>
                <li><a href="shortcodes.html">Shortcodes</a></li>
                <li><a href="about-us.html">About Us</a></li>
                <li><a href="portfolio-4-columns.html">Portfolio</a></li>
                <li><a href="contact-us.html">Contact Us</a></li>
              </ul>
            </div>
            <div class="col-md-3">
              <div class="narrow-phone">
                <h5 class="mb-sm">Contact Us</h5>
                <span class="phone">(800) 123-4567</span>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
            <div class="row">
              <div class="col-md-1">
                <a href="index.html" class="logo">
                  <img alt="" class="img-responsive" src="img/logo-footer-dark.png">
                </a>
              </div>
              <div class="col-md-7">
                <p>© Copyright 2015. All Rights Reserved.</p>
              </div>
>
            </div>
          </div>
        </div>
      </footer>

<%= render 'layouts/java' %>
  </body>
</html>
